footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 50px;
  padding-left: 210px;
  padding-right: 220px;
  padding-top: 30px;
  background-color: rgba(13, 19, 33, 0.03);
}
.footer-heading{
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 30px;
}
