


.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* nav styles*/
nav{
  display: flex;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 65px;
  align-items: center;
}
.nav-btn{
  width: 122px;
  height: 30px;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 40px;
  border: 0.5px	Inside rgb(13, 19, 33);
  background-color: rgb(252, 253, 255);
  border-radius: 5px;
}
/* banner styles */
.banner{
  background-image: url(images/Hero-bg.png);
  height: 320px;
}
.banner-info{
  width: 500px;
  height: 280px;
  margin-left: 370px;
  margin-right: 220px;
}
.banner-profile{
  width: 120px;
  height: 120px;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 20px;
}
.banner-heading{
  text-align: center;
  font-size: 18px;
}
.banner-description{
  font-size: 10px;
  color: rgb(13, 19, 33);
  text-align: center;
}
.banner-btn{
  width: 120px;
  height: 33px;
  font-size: 12px;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-left: 170px;
  margin-top: 15px;
}
a{
  color: black;
}
/*section - 1 styels*/

.part-1{
  margin-left: 200px;
  margin-right: 220px;
  margin-top: 50px;
  background-color: rgba(13, 19, 33, 0.02);
  height: 960px;
  border-radius: 10px;
}
.part-2{
  padding-top: 20px;
}
.web-heading{
  text-align: center;
}
.web-description{
  font-size: 10px;
  color: rgb(13, 19, 33);
  text-align: center;
}
.web-development-paths{
  display: flex;
  justify-content: space-between;
  height: 200px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255),rgba(255, 255, 255, 0));
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}
.web-development-pic{
  height: 200px;
  width: 200px;
}
.web-development-description{
  height: 200px;
  width: 350px;
}
.web-dev-description{
  font-size: 10px;
  color: rgb(13, 19, 33);
  margin-bottom: 30px;
}
.learn-more-btn{
  background-color:white;
  border-radius: 0;
  border: 1px;
  border-style: solid;
  padding: 8px 12px 8px 12px;
  color: rgb(13, 19, 33);
  font-size: 12px;
  font-weight: 600;
}

/* video section styles*/
.motivation-video{
  width: 800px;
  height: 340px;
  margin-left: 200px;
  margin-right: 220px;
  border: 1px solid	 rgba(13, 19, 33, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.video-heading{
  text-align: center;
  margin-top: 100px;
}
/* target section style*/
.target-heading{
  text-align: center;
  margin-top: 100px;
}
.target-description{
  text-align: center;
  margin-left: 230px;
  margin-right: 230px;
  font-size: 10px;
  color: rgb(13, 19, 33);
}
.current-target-1{
  width: 230px;
  height: 200px;
  background-color: rgba(255, 76, 30, 0.05);
  padding: 30px 0 0 20px;
  border-radius: 10px;
}
.current-target-2{
  width: 230px;
  height: 200px;
  background-color: rgba(0, 76, 232, 0.05);
  padding: 30px 0 0 20px;
  border-radius: 10px;
}
.current-target-3{
  width: 230px;
  height: 200px;
  background-color: rgba(255, 223, 0, 0.05);
  padding: 30px 0 0 20px;
  border-radius: 10px;
}
.code-description{
  font-size: 10px;
  color: rgb(13, 19, 33);
}
.target-box {
  display: flex;
  justify-content: space-around;
  margin-left: 185px;
  margin-right: 200px;
  margin-top: 50px;
}
/* next target section styles */
.next-target-section{
  display: flex;
  margin-left: 210px;
  margin-right: 200px;
  margin-top: 20px;
  border: 1px solid gray;
  width: 810px;
  height: 150px;
  border-radius: 10px;
  padding: 10px 0 10px 20px;
}
.logo{
  width: 80px;
  height: 70px;
  margin-right: 40px;
  margin-left: 15px;
  margin-top: 40px;
}
.logo-text{
  font-size: 12px;
  font-weight: 400;
  color: rgb(13, 19, 33);
}
/* final section styles */
.support-section-div{ 
  width: 830px;
  height: 300px;
  margin-left: 210px;
  margin-right: 200px;
  margin-top: 40px;
  background-image: url(images/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  
}
.support-section-heading{
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 60px;
  font-weight: 700;
}
.support-section-text{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 400;
}
.support-section-place{
  margin-left: 220px;
  margin-top: 30px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  border: none;
  font-size: 10px;
  background-color: rgb(255, 255, 255);
}
.support-section-btn{
  border: none;
  padding: 8px 18px 8px 18px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

/*footer styles*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 50px;
  padding-left: 210px;
  padding-right: 220px;
  padding-top: 30px;
  background-color: rgba(13, 19, 33, 0.03);
}
.footer-heading{
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 30px;
}
